---
import Base from "~/layouts/Base.astro";
import Header from "~/components/ui/Header.astro";
import Date from "~/components/util/Date.astro";
import Prose from "~/components/ui/Prose.astro";
import { noteTitleConstructor } from "~/lib/metadata";
import StyledLink from "~/components/util/StyledLink.astro";

interface Props {
  title?: string | undefined;
  exturl?: string | undefined;
  icon: string;
  date: Date;
}

const { title, exturl, icon, date } = Astro.props;
---

<Base title={noteTitleConstructor(title, date)}>
  <Header />
  <div
    class="bg-light-bg-2 dark:bg-dark-bg-2 w-fit p-4 pt-0.5 rounded-br-3xl rounded-tl-3xl"
  >
    <h2 class="text-xl font-bold mt-6">
      <i class={`${icon} mr-1 tx-light-pu dark:text-dark-pu`}></i>
      {
        () => {
          if (title) {
            return (
              <span class="font-bold">
                A note titled {title} (<Date showTime date={date} />)
              </span>
            );
          } else {
            return (
              <span class="font-bold">
                A note from
                <Date showTime date={date} />
              </span>
            );
          }
        }
      }
    </h2>
    <>
      <p class="ml-4 mt-3 mb-3">
        {
          exturl && (
            <StyledLink
              href={exturl}
              icon="fa-solid fa-arrow-up-right-from-square"
            >
              {exturl}
            </StyledLink>
          )
        }
      </p>
      <Prose>
        <slot />
      </Prose>
    </>
    <hr class="w-[500px]" />
    <StyledLink href="/notes" icon="fa-solid fa-arrow-left">
      See more notes
    </StyledLink>
  </div>
</Base>
