---
import Base from "~/layouts/Base.astro";
import Header from "~/components/ui/Header.astro";
import Display from "~/components/notes/Note.astro";
import { noteTitleConstructor } from "~/lib/metadata";
import StyledLink from "~/components/util/StyledLink.astro";

interface Props {
  title?: string | undefined;
  exturl?: string | undefined;
  icon: string;
  date: Date;
  tags: Array<string>;
}

const { title, exturl, icon, date, tags }: Props = Astro.props;
---

<Base title={noteTitleConstructor(title, date)}>
  <Header />
  <main>
    <StyledLink href="/notes" icon="fa-solid fa-arrow-left">See some more notes</StyledLink>
    <Display title={title} exturl={exturl} icon={icon} date={date} tags={tags}>
      <slot />
    </Display>
  </main>
</Base>