---
import Layout from "~/layouts/Base.astro";
import Header from "~/components/ui/Header.astro";
import Strapline from "~/components/ui/Strapline.astro";
import Footer from "~/components/ui/Footer.astro";

interface Props {
  title: string,
  description: string,
  icon?: string,
  date?: Date,
  back?: string,
  backLabel?: string
}

const { title, description, icon, date, back, backLabel } = Astro.props;
---

<Layout title={title} description={description} date={date}>
  <div>
    <Header />
    <main class="ml-8">
      <Strapline title={title} description={description} icon={icon} date={date} back={back} backLabel={backLabel} />
      <slot />
    </main>
    <Footer />
  </div>
</Layout>