---
import Layout from "~/layouts/Base.astro";
import Header from "~/components/ui/Header.astro";
import Strapline from "~/components/ui/Strapline.astro";
import Footer from "~/components/ui/Footer.astro";
const { title, description, icon, date, back, backLabel } = Astro.props;
---

<Layout title={title} description={description} date={date}>
  <div>
    <Header />
    <main class="pr-48 lg:pl-1">
      <Strapline title={title} description={description} icon={icon} date={date} back={back} backLabel={backLabel} />
      <slot />
    </main>
    <Footer />
  </div>
</Layout>